﻿/*html, body, #main-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}*/

#animation-panel {
    width: 100%;
    height: 100%;
}

#solar-system-panel {
    width: 100%;
    height: 100%;
   
}
#earth-panel {
    width: 100%;
    height: 100%;
    
}

@media all and (max-width: 900px) {
article {
    width: 48%
  }


